{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <div>
        <nav id="nav-sidebar" class="sidebar">
            <a id="nav-closebtn" href="javascript:void(0)" class="closebtn">&times;</a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <main id="main-content">
            <button id="nav-openbtn" class="openbtn">&#x2630; Menu</button>
            {% block content %}
            {% endblock %}
        </main>
    </div>
<script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>